
// // * {
// //     margin: 0;
// //     //background-color: blue;
// //     //background-image: url("https://photos.google.com/photo/AF1QipPdk9Bukhb6IZBr1_LXAz3by046aYOlIcCoCjIB");
// // }
// .Home{
//     // display: block;
//     // //\background-color: #131010;
//     // //margin: 0 auto;
//     // font-size: 99.5%;
    
//     .button{
//         display: block;
//         margin: 5px auto;
//     }
    
    .questionQuestion{
        font-weight: lighter;
        cursor: pointer;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
        padding: 5px;
        
    }
    
    
//     .questionContainer{
//         margin: 25px auto;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         max-width: 75%;
//         background-image: url("https://photos.google.com/photo/AF1QipPdk9Bukhb6IZBr1_LXAz3by046aYOlIcCoCjIB");
//         //background-color: white;
//         border-radius: 10px;
        
        
        .singleQuestion{
            border-radius: 10px;
            opacity: 95%;
            margin-bottom: 30px;
            border-radius: 20;
            text-align: -webkit-center;
            background-color: white;
         
        }
        
//         img
//             {
//                 width: 100%;
//                 height: auto;
//             }
//         }
// } 