* {
    margin: 0;
}
.Home{
    // background-color: #e7e7e7;
    //margin: 0 auto;
    font-size: 99.5%;

    .button{
        display: block;
        margin: 5px auto;
    }

    .questionQuestion{
        cursor: pointer;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

    
    .questionContainer{
        margin: 25px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 75%;
        background-color: white;
        border-radius: 10px;
        
        
        .singleQuestion{
            text-align: center;
            padding: 5px;
            width: 250px;
            margin: 5px 10px;
         
        }
        
        img
            {
                width: 100%;
                height: auto;
            }
        }
} 